@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --blue: #5847eb;
    --light-red-work: #ff8c66;
    --soft-blue-play: #56c2e6;
    --light-red-study: #ff5c7c;
    --lime-green-exercise: #4acf81;
    --violet-social: #7536d3;
    --soft-orange-self-care: #f1c65b;
    --very-dark-blue: #0E1323;
    --dark-blue: #1c1f4a;
    --desaturated-blue: #6f76c8;
    --pale-blue: #bdc1ff;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
}

body {
    min-block-size: 100vh;
    background-color: var(--very-dark-blue);
    display: grid;
    place-items: center;
}

img,
picture {
    inline-size: 100%;
    block-size: auto;
}

.main-container {
    display: grid;
    max-inline-size: 327px;
    inline-size: 100%;
    color: var(--white);
    gap: 24px;
}

.user-box {
    border-radius: 15px;
    background-color: var(--dark-blue);
}

.user-box__info {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    background-color: var(--violet-social);
    border-radius: 15px;
}

.user-box__image {
    width: 4rem;
    border-radius: 50%;
    outline: 3px solid var(--white);
}


.user-box__details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-box__report {
    font-size: 15px;
    color: var(--pale-blue);
}

.user-box__name {
    font-size: 24px;
    font-weight: 100;
}

.user-box__actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 25px;
}

.user-box__button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: var(--desaturated-blue);
}

.user-box__button:hover {
    color: white;
}

.btn-active {
    color: white;
}

.time-box {
    position: relative;
    min-block-size: 160px;
}

.time-box__image-container {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    block-size: 100px;
}

.time-box__image-container>img {
    position: absolute;
    inline-size: 78px;
    inset-inline-end: 17px;
    inset-block-start: -12px;
}

.time-box__image-container--work {
    background-color: var(--light-red-work);
}

.time-box__image-container--play {
    background-color: var(--soft-blue-play);
}

.time-box__image-container--study {
    background-color: var(--light-red-study);
}

.time-box__image-container--exercise {
    background-color: var(--lime-green-exercise);
}

.time-box__image-container--social {
    background-color: var(--violet-social);
}

.time-box__image-container--self-care {
    background-color: var(--soft-orange-self-care);
}

.time-box__time {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    inline-size: 100%;
    background-color: var(--dark-blue);
    padding-inline: 24px;
    padding-block: 28px;
    border-radius: 15px;
    inset-block-start: 40px;
}

.time-box__title-and-dots {
    display: flex;
    justify-content: space-between;
}

.time-box__title {
    font-size: 18px;
    font-weight: 500;
}

.time-box__dots {
    inline-size: 21px;
    object-fit: contain;
}

.time-box__hours-and-prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-box__hours {
    font-size: 32px;
    font-weight: 300;
}

.time-box__prev {
    font-size: 15px;
    color: var(--pale-blue);
}